.crystal-image {
    width: 150px;
    height: 150px;
}

.lailaFont {
    font-family: 'Laila', serif;
}

.luckiestFont {
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
}

.lightSlate {
    background-color: rgba(119, 136, 153, 0.582);
}
