body {
    background-color: #4ABDAC;
}

.crystal-image {
    width: 150px;
    height: 150px;
}

.lailaFont {
    font-family: 'Laila', serif;
}

.luckiestFont {
    font-family: 'B612 Mono', monospace;
    font-size: 18px;
}

.text-vermillion {
    color: #FC4A1A;
}

.greyFont {
    color: #DFDCE3;
}

.sunshineFont {
    color: rgb(247, 172, 22);
}
